<style>
  header{
    border-bottom: 1px solid gray;
    padding: 20px;
  }
  #index{
    list-style: none;
    border-right: 1px solid;
    height: 600px;
    margin-top: 0px;
    float: left;
    padding: 30px;

  }
  #main_img{
    float:right;
    padding: : 20px;
  }

</style>
